<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="asaasmagento2" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Asaas Payments</label>
        <field id="active" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Active</label>
          <comment>Activate or deactivate entire module.</comment>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <!--Inicio configurações Gerais-->
        <group id="general_options" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
          <depends>
            <field id="active">1</field>
          </depends>
          <label>General Settings</label>
          <field id="webapi" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>URL for Billing Webhooks</label>
            <frontend_model>Asaas\Magento2\Block\System\Config\Form\Field\Disable</frontend_model>
            <comment><![CDATA[To enable the webhook, <a target="_blank" href="https://www.asaas.com/config/index?tab=pushNotification">access the Integration Tab in the My Account area</a> and enter the URL of your application that should receive the POST from Asaas. Remember to select API version "v3" when enabling the webhook. Click <a target="_blank" href="https://asaasv3.docs.apiary.io/#introduction/webhooks">here </a> for the official Asaas documentation]]></comment>
          </field>
          <field id="api_key" translate="label comment" type="obscure" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>API Key</label>
            <comment><![CDATA[To obtain your API Key <a target="_blank" href="https://www.asaas.com/config/index?tab=pushNotification">access the Integration Tab in the My Account area.</a> Click <a target="_blank" href="https://asaasv3.docs.apiary.io/#introduction/autenticacao">here </a> for the official Asaas documentation]]></comment>
            <validate>required-entry</validate>
            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
            <depends>
              <field id="payment/asaasmagento2/general_options/active">1</field>
            </depends>
          </field>
          <field id="token_webhook" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Authentication Token</label>
            <comment><![CDATA[A token to authenticate requests coming from the Asaas Webhook. This token can be entered in the My Account area, Integration tab. Click <a target="_blank" href="https://asaasv3.docs.apiary.io/#introduction/webhooks">here </a> for the official Asaas documentation]]></comment>
            <depends>
              <field id="payment/asaasmagento2/general_options/active">1</field>
            </depends>
          </field>
          <field id="debug" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Debug</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <depends>
              <field id="payment/asaasmagento2/general_options/active">1</field>
            </depends>
          </field>
          <field id="ambiente" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Environment</label>
            <source_model>Asaas\Magento2\Model\Config\Source\Ambiente</source_model>
            <depends>
              <field id="payment/asaasmagento2/general_options/active">1</field>
            </depends>
          </field>
          <field id="active_notifications" translate="label comment" type="select" sortOrder="398" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Enable notifications between Asaas and buyer</label>
            <comment>Enable notifications when a purchase is made.</comment>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            <depends>
              <field id="active_cc">1</field>
            </depends>
          </field>
          <field id="sort_order" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Display order</label>
            <comment>Display order in relation to other payment methods.</comment>
            <depends>
              <field id="payment/asaasmagento2/general_options/active">1</field>
            </depends>
          </field>
        </group>
        <!--Fim das configurações gerais-->
        <!-- Opções cartão de crédito -->
        <group id="options_cc" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
          <depends>
            <field id="active">1</field>
          </depends>
          <label>Credit Card Settings</label>
          <field id="active_cc" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Enabled</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          </field>
          <field id="parcelas" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment Installments</label>
            <comment>Decimal point should be used. Example: 1.99 or 5.75.</comment>
            <frontend_model>Asaas\Magento2\Block\Adminhtml\Form\Field\Parcelas</frontend_model>
            <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
            <depends>
              <field id="active_cc">1</field>
            </depends>
            <validate>required-entry</validate>
          </field>
          <field id="cctypes" translate="label" type="multiselect" sortOrder="399" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Available Card Brands</label>
            <source_model>Asaas\Magento2\Model\Config\Source\Tipos</source_model>
            <depends>
              <field id="active_cc">1</field>
            </depends>
          </field>
          <field id="min_parcela" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Minimum installment amount</label>
            <depends>
              <field id="active_cc">1</field>
            </depends>
            <validate>required-entry</validate>
          </field>
        </group>
        <!--Fim das opções de cc-->
        <!-- Opções boleto -->
        <group id="options_boleto" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Billet Settings</label>
          <depends>
            <field id="active">1</field>
          </depends>
          <field id="active_billet" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Enabled</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          </field>
          <field id="validade" translate="label" type="text" sortOrder="403" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Billet validity days</label>
            <validate>required-entry</validate>
            <depends>
              <field id="active_billet">1</field>
            </depends>
          </field>
          <field id="instrucoes" translate="label comment" type="text" sortOrder="404" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Message to user</label>
            <comment>Message displayed on the thank you screen after completing the order.</comment>
            <depends>
              <field id="active_billet">1</field>
            </depends>
          </field>
          <group id="options_boleto_discount" translate="label" type="text" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Discount Settings</label>
            <depends>
              <field id="active_billet">1</field>
            </depends>
            <field id="type_discount" translate="label comment" type="select" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="0">
              <label>Discount Type</label>
              <comment>Fixed value or percentage</comment>
              <source_model>Asaas\Magento2\Model\Config\Source\Discount</source_model>
              <depends>
                <field id="active_billet">1</field>
              </depends>
              <validate>required-entry</validate>
            </field>
            <field id="value_discount" translate="label" type="text" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="0">
              <label>Discount Value</label>
              <depends>
                <field id="active_billet">1</field>
              </depends>
              <validate>required-entry</validate>
            </field>
            <field id="due_limit_days" translate="label comment" type="text" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="0">
              <label>Valid days to apply the discount</label>
              <comment>Days before due date to apply discount. Example: 0 = until due date, 1 = up to one day before, 2 = up to two days before, and so on</comment>
              <depends>
                <field id="active_billet">1</field>
              </depends>
              <validate>required-entry</validate>
            </field>
          </group>
          <group id="options_boleto_interest" translate="label" type="text" sortOrder="406" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Interest Settings</label>
            <depends>
              <field id="active_billet">1</field>
            </depends>
            <field id="value_interest" translate="label comment" type="text" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="0">
              <label>Interest Percentage</label>
              <validate>required-entry</validate>
              <depends>
                <field id="active_billet">1</field>
              </depends>
              <comment>Percentage of interest per month on the amount charged for payment after maturity</comment>
            </field>
          </group>
          <group id="options_boleto_fine" translate="label" type="text" sortOrder="407" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Fine Settings</label>
            <depends>
              <field id="active_billet">1</field>
            </depends>
            <field id="value_fine" translate="label comment" type="text" sortOrder="405" showInDefault="1" showInWebsite="1" showInStore="0">
              <label>Fine Percentage</label>
              <validate>required-entry</validate>
              <depends>
                <field id="active_billet">1</field>
              </depends>
              <comment>Percentage of fine on the amount of the charge for payment after the due date</comment>
            </field>
          </group>
        </group>
        <!--Fim das opções de boleto-->
        <!-- Configurações de pix -->
        <group id="options_pix" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Pix Settings</label>
          <depends>
            <field id="active">1</field>
          </depends>
          <field id="active_pix" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Enabled</label>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          </field>
          <field id="validade" translate="label" type="text" sortOrder="403" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Pix expiration days</label>
            <validate>required-entry</validate>
            <depends>
              <field id="active_pix">1</field>
            </depends>
          </field>
          <field id="instrucoes" translate="label comment" type="text" sortOrder="404" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Message to user</label>
            <comment>Message displayed on the thank you screen after completing the order.</comment>
            <depends>
              <field id="active_pix">1</field>
            </depends>
          </field>
        </group>
      <!-- Fim configurações pix -->
      </group>
    </section>
  </system>
</config> 
